@font-face {
    font-family: 'iconfont'; /* Project id 4045984 */
    src: url('//at.alicdn.com/t/c/font_4045984_qseqljsx82r.woff2?t=1682913295841') format('woff2'), url('//at.alicdn.com/t/c/font_4045984_qseqljsx82r.woff?t=1682913295841') format('woff'), url('//at.alicdn.com/t/c/font_4045984_qseqljsx82r.ttf?t=1682913295841') format('truetype');
}

@font-face {
    font-family: 'app-font'; /* Project id 4045984 */
    src: url('../static/font/font.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    font-family: iconfont;
}

.font {
    font-family: app-font, iconfont;
}

span {
    font-family: inherit;
}

:root {
    --fontSize-s: 35rpx;
    --fontSize-m: 50rpx;
    --fontSize-l: 65rpx;
}
